<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <title>instagram</title>
  <link rel="stylesheet" type="text/css" href="/week5-2.css" />
</head>

<body>
  <div>
    <header>
      <div class="upside">
        <div class="navigation">
          <div class="logo">
            <img alt="Instagram" class="instagram"
              src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png"
              srcset="/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png 2x">
          </div>
          <div class="search">
            <div class="searchbox">
              <div class="findpart">
                <span class="findicon"></span>
                <span class="find">검색</span>
              </div>
            </div>
          </div>
          <div class="nav">
            <div class="icon">
              <svg aria-label="홈" class="_8-yf5 " fill="#262626" height="22" viewBox="0 0 48 48" width="22">
                <path
                  d="M45.5 48H30.1c-.8 0-1.5-.7-1.5-1.5V34.2c0-2.6-2.1-4.6-4.6-4.6s-4.6 2.1-4.6 4.6v12.3c0 .8-.7 1.5-1.5 1.5H2.5c-.8 0-1.5-.7-1.5-1.5V23c0-.4.2-.8.4-1.1L22.9.4c.6-.6 1.6-.6 2.1 0l21.5 21.5c.3.3.4.7.4 1.1v23.5c.1.8-.6 1.5-1.4 1.5z">
                </path>
              </svg>
            </div>
            <div class="icon">
              <svg aria-label="Direct" class="_8-yf5 " fill="#262626" height="22" viewBox="0 0 48 48" width="22">
                <path
                  d="M46.5 3.5h-45C.6 3.5.2 4.6.8 5.2l16 15.8 5.5 22.8c.2.9 1.4 1 1.8.3L47.4 5c.4-.7-.1-1.5-.9-1.5zm-40.1 3h33.5L19.1 18c-.4.2-.9.1-1.2-.2L6.4 6.5zm17.7 31.8l-4-16.6c-.1-.4.1-.9.5-1.1L41.5 9 24.1 38.3z">
                </path>
                <path d="M14.7 48.4l2.9-.7"></path>
              </svg>
            </div>
            <div class="icon">
              <svg aria-label="사람 찾기" class="_8-yf5 " fill="#262626" height="22" viewBox="0 0 48 48" width="22">
                <path clip-rule="evenodd"
                  d="M24 .5C37 .5 47.5 11 47.5 24S37 47.5 24 47.5.5 37 .5 24 11 .5 24 .5zm0 44c11.3 0 20.5-9.2 20.5-20.5S35.3 3.5 24 3.5 3.5 12.7 3.5 24 12.7 44.5 24 44.5zm-4.4-23.7c.3-.5.7-.9 1.2-1.2l14.8-8.1c.3-.1.6-.1.8.1.2.2.3.5.1.8l-8.1 14.8c-.3.5-.7.9-1.2 1.2l-14.8 8.1c-.3.1-.6.1-.8-.1-.2-.2-.3-.5-.1-.8l8.1-14.8zm6.2 5l4.3-7.8-7.8 4.3 3.5 3.5z"
                  fill-rule="evenodd"></path>
              </svg>
            </div>
            <div class="icon">
              <svg aria-label="활동 피드" class="_8-yf5 " fill="#262626" height="22" viewBox="0 0 48 48" width="22">
                <path clip-rule="evenodd"
                  d="M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z"
                  fill-rule="evenodd"></path>
              </svg>
            </div>
            
              <div class="icon" id="profile"><img class="profile" style="width: 22px; height: 22px;" alt="0daaa_님의 프로필 사진"
                  class="_6q-tv"
                  src="https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-19/s150x150/90878099_212842633126905_7374593056370065408_n.jpg?_nc_ht=scontent-ssn1-1.cdninstagram.com&amp;_nc_ohc=fKbdYl8kJhMAX-3Lltv&amp;oh=4dfcb9a3967b2fd5d8d08b4b52e30e26&amp;oe=5EDBF093">
              </div>
          
          </div>
        </div>
      </div>
    </header>
    <article>

      <div class="main">
        <div class="leftside">
          <div class="story">
            <div></div>
            <div></div>
          </div>
          <div class="post">
            <div class="insta_post">
              <div class='content'>
                <div class='title'>
                  <!--content 상단 부분-->
                  <div><img class='profile_img'
                      src="https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-19/s150x150/93826079_515838142421778_6993719767492198400_n.jpg?_nc_ht=scontent-ssn1-1.cdninstagram.com&_nc_ohc=pErOhK6qhucAX-umnGi&oh=7f1af27fc2029ac2b52ebfe612313d94&oe=5EECB009">
                  </div>
                  <span class='post_id'>beauty</span>
                </div>
                <!--중간 부분-->
                <img class='post_img'
                  src="https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-15/e35/s1080x1080/97089779_1055067604888159_217515445321765664_n.jpg?_nc_ht=scontent-ssn1-1.cdninstagram.com&_nc_cat=107&_nc_ohc=foOXWvJWPxEAX-cUUZF&oh=705fd00c14f87d207268700f82301145&oe=5EEA3AF0" />
                <!--하단 부분-->
                <div class='icon_bar'>
                  <span class='icon'>
                    <svg id='like' viewBox='0 0 48 48'>
                      <path id='likepath'
                        d='M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z'>
                      </path>
                    </svg>
                  </span>
                  <span class='icon'>
                    <svg viewBox='0 0 48 48'>
                      <path
                        d='M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z'>
                      </path>
                    </svg>
                  </span>
                  <span class='icon'>
                    <svg viewBox='0 0 48 48'>
                      <path
                        d='M46.5 3.5h-45C.6 3.5.2 4.6.8 5.2l16 15.8 5.5 22.8c.2.9 1.4 1 1.8.3L47.4 5c.4-.7-.1-1.5-.9-1.5zm-40.1 3h33.5L19.1 18c-.4.2-.9.1-1.2-.2L6.4 6.5zm17.7 31.8l-4-16.6c-.1-.4.1-.9.5-1.1L41.5 9 24.1 38.3z'>
                      </path>
                    </svg>
                  </span>
                  <span class='icon'>
                    <svg viewBox='0 0 48 48'>
                      <path
                        d='M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z'>
                      </path>
                    </svg>
                  </span>
                </div>
                <div class="comment">
                  <div><input type="text" placeholder="댓글 달기..."></div>
                  <div><input type="button" value="게시"></div>
                </div>
              </div>
              <div class="modal_open">
                <button class='modal_open_button'>
                  <svg height='16' viewBox='0 0 48 48'>
                    <circle cx='8' cy='24' r='4.5'></circle>
                    <circle cx='24' cy='24' r='4.5'></circle>
                    <circle cx='40' cy='24' r='4.5'></circle>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>


        <div class="rightside">
          <div class="top">
            <div>
              <img class="profile" style="width: 56px; height: 56px;" alt="0daaa_님의 프로필 사진" class="_6q-tv"
                src="https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-19/s150x150/90878099_212842633126905_7374593056370065408_n.jpg?_nc_ht=scontent-ssn1-1.cdninstagram.com&amp;_nc_ohc=NDv2ppcEba0AX_Vmk6Z&amp;oh=098a0195cc1ede084e13381cc9337272&amp;oe=5EDFE513">
            </div>
            <div class="name">
              <div style="font-weight:600; font-size:14px; color:rgb(38,38,38);">
                0daaa_
              </div>
              <div style="font-weight:400; font-size:12px; color:rgb(142,142,142);">
                오다혜
              </div>
            </div>
          </div>
          <div class="middle">
            <div class="recommend">
              <div class="reco1">
                회원님을 위한 추천
              </div>
              <div class="reco2">
                모두 보기
              </div>
            </div>
            <div style="padding: 8px 0px;">
              <div class="friend">
                <div>
                  <img class="img profile" alt="jin_young524님의 프로필 사진" class="_6q-tv"
                    src="https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-19/s150x150/96018204_258472018609152_3170679264613761024_n.jpg?_nc_ht=scontent-ssn1-1.cdninstagram.com&amp;_nc_ohc=uo1QHWN0E7QAX9g30kK&amp;oh=32877da8444d0fb04c73da4e670f9bb3&amp;oe=5EDEF52C">
                </div>
                <div class="id_ex">
                  <div class="id">
                    jin_young524
                  </div>
                  <div class="explanation">
                    회원님을 팔로우합니다
                  </div>
                </div>
                <div class="follow">
                  팔로우
                </div>
              </div>

              <div class="friend">
                <div>
                  <img class="img profile" alt="_seon_jin__님의 프로필 사진" class="_6q-tv"
                    src="https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-19/s150x150/56563301_2372875559610587_125686312337408000_n.jpg?_nc_ht=scontent-ssn1-1.cdninstagram.com&amp;_nc_ohc=Mv_3n5VeG58AX-yRqO6&amp;oh=4c272b1c7a2d21ce4d9185b168e3ad2a&amp;oe=5EE012B2">
                </div>
                <div class="id_ex">
                  <div class="id">
                    _seon_jin__
                  </div>
                  <div class="explanation">
                    회원님을 팔로우합니다
                  </div>
                </div>
                <div class="follow">
                  팔로우
                </div>
              </div>

              <div class="friend">
                <div>
                  <img class="img profile" alt="eunju_3108님의 프로필 사진" class="_6q-tv"
                    src="https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-19/s150x150/94716499_168163087790549_2382246813802430464_n.jpg?_nc_ht=scontent-ssn1-1.cdninstagram.com&amp;_nc_ohc=PyHmPvCxLEcAX9WilBl&amp;oh=b50eae80ffc1ca6c4c81b095eade3a6c&amp;oe=5EE0A1F8">
                </div>
                <div class="id_ex">
                  <div class="id">
                    eunju_3108
                  </div>
                  <div class="explanation">
                    rjswnd님 외 5명이 팔로우합니다
                  </div>
                </div>
                <div class="follow">
                  팔로우
                </div>
              </div>

              <div class="friend">
                <div>
                  <img class="img profile" alt="psy_1103님의 프로필 사진" class="_6q-tv"
                    src="https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-19/s150x150/93803484_257370828629565_2161786941362667520_n.jpg?_nc_ht=scontent-ssn1-1.cdninstagram.com&amp;_nc_ohc=AsNMAhloGu8AX9_86rI&amp;oh=a1fb421c507d65b448f9a4fe0f2a3a6b&amp;oe=5EDD3797">
                </div>
                <div class="id_ex">
                  <div class="id">
                    psy_1103
                  </div>
                  <div class="explanation">
                    zeroju_26님 외 12명이 팔로우합니다
                  </div>
                </div>
                <div class="follow">
                  팔로우
                </div>
              </div>
            </div>
          </div>
          <div class="bottom">
            <div>
              <div class="ul_nav">
                <div class="l93RR">소개</div>
                <div class="l93RR">도움말</div>
                <div class="l93RR">홍보 센터</div>
                <div class="l93RR">API</div>
                <div class="l93RR">채용 정보</div>
                <div class="l93RR">개인정보처리방침</div>
                <div class="l93RR">약관</div>
                <div class="l93RR">위치</div>
                <div class="l93RR">인기 계정</div>
                <div class="l93RR">해시태그</div>
                <div class="l93RR">언어</div>
              </div>
            </div>
            <div class="copyright">
              © 2020 Instagram from Facebook
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div>
    <div id="modal">
      <div class="modal_content">
        <div class="modal_opt opt" style="border: none;">
          부적절한 콘텐츠 신고
        </div>
        <div class="modal_opt opt">
          팔로우 취소
        </div>
        <div class="modal_opt">
          게시물로 이동
        </div>
        <div class="modal_opt">
          공유하기
        </div>
        <div class="modal_opt">
          링크 복사
        </div>
        <div class="modal_opt">
          퍼가기
        </div>
        <div class="modal_opt close">
          <button id="modal_close_btn" style="
          margin-left: 0px;">취소</button>
        </div>

      </div>
      <div id="modal_layer"></div>
    </div>
  </div>
  <script type="text/javascript">
    // Get the modal
    var modal = document.getElementById('modal');

    // Get the button that opens the modal
    var btn1 = document.querySelector(".modal_open_button");
    var btn2 = document.getElementById("modal_close_btn");
    // Get the <span> element that closes the modal
    //
    var layer = document.getElementById("modal_layer");

    // When the user clicks on the button, open the modal
    btn1.onclick = function () {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    btn2.onclick = function () {
      modal.style.display = "none";
    }

    window.onclick = function (event) {
      if (event.target == modal_layer) {
        modal.style.display = "none";
      }
    }




    const data = [
      {
        id: 'Tom',
        profile: '/img/profile1.jpg',
        img: '/img/img1.jpg'
      },
      {
        id: 'James',
        profile: '/img/profile2.jpg',
        img: '/img/img2.jpg'
      },
      {
        id: 'Ann',
        profile: '/img/profile3.jpg',
        img: '/img/img3.jpg'
      }
    ]

    const MAINPOST = document.querySelector('.post');
    function Posting(id, profile, img) {

      const insta_post = document.createElement('div');

      const content = document.createElement('div');


      //게시글 상단
      const title = document.createElement('div');
      title.classList.add('title');
      const profilediv = document.createElement('div');
      const profile_img = document.createElement('img');
      profile_img.classList.add('profile_img');
      const post_id = document.createElement('span');
      post_id.classList.add('post_id');

      profile_img.setAttribute('src', profile);
      post_id.innerText = id;

      profilediv.appendChild(profile_img);
      title.appendChild(profilediv);
      title.appendChild(post_id);

      //게시글 중간

      const post_img = document.createElement('img');
      post_img.setAttribute('src', img);
      post_img.classList.add('post_img');

      //게시글 하단
      const icon_bar = document.createElement('div');
      icon_bar.classList.add('icon_bar');

      const icon1 = document.createElement('span');
      const icon2 = document.createElement('span');
      const icon3 = document.createElement('span');
      const icon4 = document.createElement('span');
      icon1.classList.add('icon');
      icon2.classList.add('icon');
      icon3.classList.add('icon');
      icon4.classList.add('icon');

      const svg1 = document.createElement('svg');
      const svg2 = document.createElement('svg');
      const svg3 = document.createElement('svg');
      const svg4 = document.createElement('svg');

      svg2.setAttribute('viewBox', '0 0 48 48');
      svg3.setAttribute('viewBox', '0 0 48 48');
      svg4.setAttribute('viewBox', '0 0 48 48');
      svg1.setAttribute('aria-label', '좋아요');
      svg1.setAttribute('fill', '#262626');
      svg1.setAttribute('height', '24');
      svg1.setAttribute('viewBox', '0 0 48 48');
      svg1.setAttribute('width', '24');

      const path1 = document.createElement('path');
      const path2 = document.createElement('path');
      const path3 = document.createElement('path');
      const path4 = document.createElement('path');

      //왜 안 될까...?
      path1.setAttribute('d', "M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z");
      path2.setAttribute('d', 'M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z');
      path3.setAttribute('d', 'M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z');
      path4.setAttribute('d', 'M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z');

      svg1.appendChild(path1);
      svg2.appendChild(path2);
      svg3.appendChild(path3);
      svg4.appendChild(path4);
      icon1.appendChild(svg1);
      icon2.appendChild(svg2);
      icon3.appendChild(svg3);
      icon4.appendChild(svg4);
      icon_bar.appendChild(icon1);
      icon_bar.appendChild(icon2);
      icon_bar.appendChild(icon3);
      icon_bar.appendChild(icon4);



      const comment = document.createElement('div');
      comment.classList.add('comment');
      const commentdiv = document.createElement('div');
      const post = document.createElement('div');
      const text = document.createElement('input');
      const postbutton = document.createElement('input');
      const div1 = document.createElement('div');
      const div2 = document.createElement('div');

      text.setAttribute('type', 'text');
      text.setAttribute('placeholder', '댓글 달기...');
      postbutton.setAttribute('type', 'button');
      postbutton.setAttribute('value', '게시');
      div1.appendChild(text);
      div2.appendChild(postbutton);
      comment.appendChild(div1);
      comment.appendChild(div2);

      content.appendChild(title);
      content.appendChild(post_img);
      content.appendChild(icon_bar);
      content.appendChild(comment);

      //모달창 만들기

      const modal_open = document.createElement('div');
      modal_open.classList.add('modal_open');
      const modal_open_button = document.createElement('button');
      modal_open_button.classList.add('modal_open_button');
      const dotbox = document.createElement('svg');
      dotbox.setAttribute('height', '16');
      dotbox.setAttribute('viewBox', '0 0 48 48');
      const circle1 = document.createElement('circle');
      const circle2 = document.createElement('circle');
      const circle3 = document.createElement('circle');
      circle1.setAttribute('cx', '8');
      circle1.setAttribute('cy', '24');
      circle1.setAttribute('r', '4.5');
      circle2.setAttribute('cx', '24');
      circle2.setAttribute('cy', '24');
      circle2.setAttribute('r', '4.5');
      circle3.setAttribute('cx', '40');
      circle3.setAttribute('cy', '24');
      circle3.setAttribute('r', '4.5');

      dotbox.appendChild(circle1);
      dotbox.appendChild(circle2);
      dotbox.appendChild(circle3);
      modal_open_button.appendChild(dotbox);
      modal_open.appendChild(modal_open_button);

      insta_post.classList.add('insta_post');
      content.classList.add('content');

      insta_post.appendChild(content);
      insta_post.appendChild(modal_open);

      MAINPOST.appendChild(insta_post);

    };

    data.forEach((d) => {
      console.log(d);
      Posting(d.id, d.profile, d.img);
    });


    var heart = document.getElementById('like');
    var path = document.getElementById('likepath');
    heart.onclick = function () {
      var color = heart.getAttribute('fill');
      console.log(color);
      if (color == null || color != 'red') {
        heart.setAttribute('fill', 'red');
        path.setAttribute('d', 'M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z');
      }
      else {
        path.setAttribute('d', 'M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z');
        heart.setAttribute('fill', null);
      }
    }


    const nextpage = document.getElementById('profile');
    
    nextpage.onclick = function(){
      console.log("1");
      location.href ='post';
    }

  </script>
</body>

</html>